* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1e1e;
  font-family: 'Roboto', sans-serif;
}
.streambox {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
}
.streamcontainer{
  min-height: 50%;
  min-width: 50%;
  flex: 1 0 50%;
  position: relative;
  z-index: 5;
  border: 5px solid #1e1e1e;
}

.streamcontainer:nth-child(3){
  flex-grow: 0;
  margin: 0 auto;
}

.buttoncontainer {
  position: absolute;
  bottom: 1px;
  right: 120px;
  z-index: 6;
  button {
    width: 60px;
    height: 25px;
    cursor: pointer;
    background: none;
    border: none;
    color: #a8a8a8;
    font-size: 10pt;
    &:hover {
      color: #c2c2c2;
    }
    &:focus {
      outline: none;
    }
    svg {
      position: relative;
      top: 5px;
      fill: #a8a8a8;
      &:hover {
        fill: #c2c2c2;
      }
    }
  }
}

.streamview object {
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.sidebar {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  height: 100vh;
  width: 450px;
  overflow: auto;
  z-index: 90;
  background-color: #141414;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.35s;

  .controllbuttons {
    display: flex;
    margin-top: 10px;
    input {
      width: 70%;
      margin-right: 18%;
      background-color: #141414;
      border: 1px solid #5c0e0a;
      color: white;
      &:focus {
        outline-color: #B71C1C;
      }
    }
  }
}
.sidebar-content {
  width: 90%;
}

.togglebutton {
  font-size: 36pt;
  width: 10%;
  cursor: pointer;
  outline: none;
  color: #B71C1C;
  background-color: #141414;
  border: 1px solid #141414;
  display: inline;
  word-wrap: break-word;
}
.togglebutton:before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  opacity: 1;
}
.hidden > .togglebutton:before {
  opacity: 0;
}


.hidden {
  transform: translateX(405px);
  opacity: 0;
}
.hidden:hover {
  opacity: 1;
}

.stream {
  display: flex;
  height: 150px;
  align-items: center;
  border-top: 1px solid black;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh !important;
  width: 100vw;
  z-index: 10;
  border: none;
}
.game {
  position: relative;
  border-bottom: 1px solid #5c0e0a;
  color: white;
  cursor: pointer;
}

.gameinfo {
  height: 75px;
  p {
    margin-left: 10px;
  }
}

.collapsebutton {
  background: none;
  border: none;
  font-size: 32pt;
  position: absolute;
  top: 15px;
  right: 3%;
  outline: none;
  cursor: pointer;
  color: white;
}

.addbutton {
  background: none;
  background-color: #B71C1C;
  border: 1px solid #B71C1C;
  border-radius: 25px;
  cursor: pointer;
  font-size: 32pt;
  height: 50px;
  width: 50px;
  outline: none;
  margin: 0 30px 0 30px;
  color: white;
}

.refreshbutton {
  background: none;
  border: none;
  cursor: pointer;
}
